* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 10px 200px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftSideHeader {
    font-size: 25px;
    font-weight: bolder;
    margin-right: auto;
}

.rightSideHeader {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.rightSideHeader a {
    color: white;
}

.hero {
    color: white;
    background-color: #1F2937;
    padding: 150px 200px;
    display: flex;
    gap: 100px;
}

.leftHero {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.leftHero h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.leftHero p {
    color: #E5E7EB;
    font-size: 18px;
}

.leftHero button {
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    font-weight: 900;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    align-self: flex-start;
}

.rightHero {
    width: 200px;
    height: auto;
    flex: 1;
    align-self: center;
}