* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 10px 200px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftSideHeader {
    font-size: 25px;
    font-weight: bolder;
    margin-right: auto;
}

.rightSideHeader {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.rightSideHeader a {
    color: white;
}

.hero {
    color: white;
    background-color: #1F2937;
    padding: 150px 200px;
    display: flex;
    gap: 100px;
}

.leftHero {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.leftHero h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.leftHero p {
    color: #E5E7EB;
    font-size: 18px;
}

.leftHero button {
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    font-weight: 900;
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    align-self: flex-start;
}

.leftHero button:hover {
    background-color: #3070d7;
}

.rightHero {
    width: 200px;
    height: auto;
    flex: 1;
    align-self: center;
}

.imageList {
    margin: 12px 250px;
}

.imageList h2 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 100px 0px;
}

.imageCard {
    flex:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageCard p {
    margin-top: 20px;
    text-align: center;
}

.imageCard img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    border: 4px solid #3882F6;
}

.quoteArea {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 350px;
}

.quoteText {
    align-self: flex-start;
    font-size: 30px;
    font-style: italic;
}

.quoteAuthor {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 900;
}

.callToAction {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 50px 300px;
    padding: 50px 100px;
    border-radius: 15px;
    color: white;
}

.callToAction h4 {
    font-size: 20px;
    font-weight: bold;
}

.callToAction p {
    font-size: 14px;
}

.callToAction button {
    padding: 8px 30px;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
}

.callToAction button:hover {
    background-color: #3070d7;
}